/* structure */

/* nd-tiled */

.nd-tiled {
  height: 289px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 38px;
  padding-bottom: 33px;
  border-radius: 7px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  transition: 0.2s ease;
  overflow: hidden;
}

.nd-tiled:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  border-radius: 7px;
  opacity: 0;
  transition: 0.2s ease;
}

.nd-tiled-row {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
}

.nd-tiled-arrow {
  margin-left: auto;
}

.nd-tiled-name {
  font-weight: 600;
  font-size: 24px;
  margin-right: 8px;
  color: #fff;
  line-height: 111%;
  max-width: 10px;
  display: flex;
}

.nd-tiled-count {
  color: #FE5C01;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  top: -10px;
  right: -8px;
}

.nd-tiled-arrow {
  color: #fff;
  font-size: 25px;
  position: relative;
  top: 4px;
}

.icon-arrow-right-top {
  font-size: 16px;
  transform: translateY(150px);
  transition: 0.2s ease;
  display: inline-block;
}

.nd-tiled:hover .icon-arrow-right-top {
  transform: translateY(0);
}

.nd-tiled:hover:after {
  opacity: 1;
}

/* nd-main */

.nd-main {
  padding-top: 70px;
  padding-bottom: 69px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 424px;
}

.nd-main:after {
  display: none !important;
}

.nd-main__title {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 124px;
  line-height: 105%;
}

.nd-main__consult-text {
  color: #F0F4FB;
  line-height: 140%;
  font-size: 14px;
  width: 295px;
}

.nd-main__consult {
  display: flex;
  align-items: center;
  gap: 17px;
}

.nd-main__dots {
  position: relative;
  top: -37px;
  z-index: 10000;
}

.nd-main__wrapper {
  display: flex;
  justify-content: space-between;
}

.nd-main-slider .nd-main--content {
  display: none;
}

.nd-main-slider.slick-initialized .nd-main--content {
  display: block;
}

.nd-main__right {
  width: 425px;
  padding-top: 30px;
}

.nd-main__cell {
  margin-bottom: 34px;
}

.nd-main__btn {
  margin-bottom: 19px;
}

.nd-main__btn .nd-btn {
  width: 100%;
  padding: 16px;
  font-size: 15px;
}

.nd-main__accept {
  font-size: 11px;
  line-height: 140%;
  color: #D9D9D9;
}

.nd-main__accept a {
  text-decoration: underline;
  color: #D9D9D9;
}

.nd-main__leave {
  display: none;
}

.nd-main--content {
  position: relative;
}

.nd-main--content .nd-container {
  position: relative;
  z-index: 99999;
}

.nd-main--content .nd-main__btn {
  margin-bottom: 0;
}

.nd-main--content .nd-main__title {
  color: #0C0A3E;
  width: 575px;
  margin-bottom: 18px;
}

.nd-main--content .nd-main__text {
  margin-bottom: 67px;
  font-size: 16px;
  color: #474D63;
  width: 350px;
}

.nd-main--content .nd-main__btn {
  padding: 22px 41px;
  gap: 5px;
}

.nd-main--content .nd-main__btn i {
  top: 1px;
}

.nd-main--content .nd-main__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

/* nd-cats */

.nd-cats {
  padding-top: 73px;
  padding-bottom: 105px;
}

.nd-cats__title {
  margin-bottom: 34px;
}

.nd-cats__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  justify-content: space-between;
}

/* pops */

.nd-pops {
  padding-bottom: 103px;
}

.nd-pops__title {
  margin-bottom: 30px;
}

.nd-pops__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px 0;
}

.nd-pops__box .nd-tiled:nth-child(1) {
  width: 28.5%;
}

.nd-pops__box .nd-tiled:nth-child(2) {
  width: 28.5%;
}

.nd-pops__box .nd-tiled:nth-child(3) {
  width: 40.8%;
}

.nd-pops__box .nd-tiled:nth-child(4) {
  width: 40.8%;
}

.nd-pops__box .nd-tiled:nth-child(5) {
  width: 28.5%;
}

.nd-pops__box .nd-tiled:nth-child(6) {
  width: 28.5%;
}

.nd-pops__box .nd-tiled:nth-child(7) {
  width: 28.5%;
}

.nd-pops__box .nd-tiled:nth-child(8) {
  width: 28.5%;
}

.nd-pops__box .nd-tiled:nth-child(9) {
  width: 40.8%;
}

.nd-pops__box .nd-tiled:nth-child(10) {
  width: 40.8%;
}

.nd-pops__box .nd-tiled:nth-child(11) {
  width: 58%;
}

.nd-pops__block {
  background: #F0F4FB;
  padding: 32px 38px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

.nd-pops__block:after {
  display: none;
}

.nd-pops__block-img {
  position: absolute;
  right: 0;
  bottom: -8px;
}

.nd-pops__block-title {
  color: #0C0A3E;
  font-weight: 600;
  font-size: 32px;
  line-height: 105%;
  margin-bottom: 9px;
  max-width: 333px;
  letter-spacing: -1px;
}

.nd-pops__block-text {
  font-size: 14px;
  line-height: 140%;
  color: #474D63;
  margin-bottom: 41px;
  max-width: 314px;
}

.nd-pops__block-btn {
  padding: 22px 35px;
  font-size: 15px;
  font-weight: 500;
  gap: 14px;
}

.nd-pops__block-btn i {
  font-size: 12px;
  top: 1px;
}

/* nd-num */

.nd-num {
  padding-bottom: 86px;
}

.nd-num__title {
  margin-bottom: 35px;
}

.nd-num__wrapper {
  display: flex;
  gap: 62px;
}

.nd-num__left {
  width: 460px;
}

.nd-num__right {
  width: 604px;
}

.nd-num__box {
  display: grid;
  grid-template-columns: 220px 168px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 73px;
}

.nd-num__item span {
  font-size: 63px;
  font-weight: 600;
  color: #0C0A3E;
  letter-spacing: -5.5px;
}

.nd-num__item p {
  font-size: 14px;
  color: #0C0A3E;
}

.nd-num__text {
  padding-top: 15px;
  margin-bottom: 39px;
}

.nd-num__text p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 140%;
}

.nd-num__text p span {
  font-weight: 600;
  color: #0C0A3E;
}

.nd-num__text p:last-child {
  margin-bottom: 0;
}

.nd-num__btn {
  padding: 20px 32px;
  font-size: 15px;
  gap: 10px;
}

.nd-num__btn i {
  font-size: 10px;
}

/* nd-video */

.nd-video {
  padding-bottom: 3px;
}

.nd-video__content {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
}

.nd-video__content iframe{
  width: 100%;
  height: 453px;
  display: none;
}

.nd-video__content--open iframe{
  display: block;
}
.nd-video__content--open .nd-video__preview{
  display: none;
}


.nd-video__play {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 14px;
  width: 100%;
  height: 100%;
}

.nd-video__text {
  font-size: 19px;
  line-height: 111%;
  color: #D9D9D9;
}

#nd-video-popup {
  width: 800px;
  height: 410px;
  overflow: hidden;
  max-width: 100%;
}

/* nd-adv */

.nd-adv {
  background: #2B4CA1;
  padding: 84px 0 92px;
}

.nd-adv__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nd-adv__item {
  max-width: 20%;
  text-align: center;
}

.nd-adv__item-icon {
  margin-bottom: 16px;
  height: 41px;
}

.nd-adv__item-name {
  color: #fff;
  font-size: 15px;
  line-height: 130%;
}

/* nd-coop */

.nd-coop {
  padding: 105px 0;
  padding-bottom: 115px;
}

.nd-coop__title {
  margin-bottom: 25px;
}

.nd-coop__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 2%;
}

.nd-coop__box img {
  max-width: 23%;
}

/* nd-coms */

.nd-coms {
  padding-bottom: 105px;
}

.nd-coms__item {
  padding: 27px;
  border-radius: 7px;
  background: #F0F4FB;
  display: flex;
  justify-content: space-between;
  width: 33%;
}

.nd-coms__item-count {
  color: #0C0A3E;
  font-size: 54px;
  display: inline-block;
  margin-bottom: 3px;
}

.nd-coms__box {
  display: flex;
  justify-content: space-between;
  gap: 13px;
}

.nd-coms__title {
  margin-bottom: 27px;
}

.nd-coms__item-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nd-coms__item-link {
  color: #FE5C01;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 9px;
}

.nd-coms__item-link i {
  font-size: 10px;
}

.nd-coms__item-right {
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* nd-clients */

.nd-clients {
  padding-bottom: 65px;
}

.nd-clients__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  align-items: center;
}

.nd-clients__wrapper{
  position: relative;
}

.nd-citem {
  border-radius: 7px;
  border: 3px solid #F0F4FB;
  padding: 23px 32px;
  height: 231px;
}

.nd-citem__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  align-items: center;
}

.nd-citem__wrapper {
  width: 574px;
  margin-right: 11px;
}

.nd-citem__human {
  display: flex;
  align-items: center;
  gap: 13px;
}

.nd-citem__name {
  color: #0C0A3E;
  font-size: 18px;
  font-weight: 700;
  max-width: 120px;
}

.nd-citem__date {
  color: #555;
  font-size: 12px;
}

.nd-citem__info {
  display: flex;
  align-items: center;
  gap: 9px;
}

.nd-citem__text {
  color: #0C0A3E;
  font-size: 14px;
  line-height: 148%;
}

.nd-clients__dots {
  position: relative;
  z-index: 10002;
  margin-top: 20px;
}

.nd-clients__arrows {
  bottom: 180px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}

.nd-clients__btn {
  padding: 16px 25px;
  gap: 5px;
}

.nd-clients__btn i {
  top: 1px;
}

/* nd-leave */

.nd-leave {
  padding-bottom: 100px;
}

.nd-leave__wrapper {
  padding: 60px 68px 70px;
  background: #F0F4FB;
  position: relative;
  overflow: hidden;
}

.nd-leave__title {
  margin-bottom: 52px;
}

.nd-leave__title span {
  display: block;
}

.nd-leave__form {
  background: transparent;
  width: 423px;
}

.nd-leave__field {
  margin-bottom: 34px;
}

.nd-leave__btn {
  font-size: 15px;
  width: 100%;
  padding: 16px;
}

.nd-leave__text {
  margin-top: 19px;
  color: #ABB3C3;
  font-size: 11px;
  line-height: 140%;
}

.nd-leave__text a {
  color: #ABB3C3;
  text-decoration: underline;
}

.nd-leave__man {
  position: absolute;
  right: 76px;
  bottom: -15px;
}

/* nd-ours */

.nd-ours {
  padding-bottom: 104px;
}

.nd-ours__box {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: space-between;
}

.nd-ours__box .nd-ours__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nd-ours__box .nd-ours__item {
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  background-size: cover;
}

.nd-ours__box .nd-ours__item:nth-child(1),
.nd-ours__box .nd-ours__item:nth-child(2),
.nd-ours__box .nd-ours__item:nth-child(3),
.nd-ours__box .nd-ours__item:nth-child(4),
.nd-ours__box .nd-ours__item:nth-child(5) {
  width: 19.5%;
  height: 286px;
}

.nd-ours__box .nd-ours__item:nth-child(6),
.nd-ours__box .nd-ours__item:nth-child(7),
.nd-ours__box .nd-ours__item:nth-child(8),
.nd-ours__box .nd-ours__item:nth-child(9) {
  width: 24.5%;
  height: 256px;
}

.nd-ours__box .nd-ours__item:nth-child(10),
.nd-ours__box .nd-ours__item:nth-child(11),
.nd-ours__box .nd-ours__item:nth-child(12),
.nd-ours__box .nd-ours__item:nth-child(13),
.nd-ours__box .nd-ours__item:nth-child(14) {
  width: 19.5%;
  height: 286px;
}

.nd-ours__box .nd-ours__item:nth-child(15),
.nd-ours__box .nd-ours__item:nth-child(16),
.nd-ours__box .nd-ours__item:nth-child(17),
.nd-ours__box .nd-ours__item:nth-child(18) {
  width: 24.5%;
  height: 256px;
}

.nd-ours__top {
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nd-ours__tright {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nd-ours__tright-box {
  display: flex;
  align-items: center;
  gap: 7px;
}

.nd-ours__tright-item {
  padding: 16px 18px;
  background: #F0F4FB;
  color: #FE5C01;
  gap: 8px;
}

.nd-ours__tright-item i {
  font-size: 10px;
}

.nd-ours__tright-item:hover {
  color: #fff;
}

.nd-ours__tright-title {
  font-size: 14px;
  color: #0C0A3E;
}

/* nd-cusers */

.nd-cusers {
  padding-bottom: 52px;
}

.nd-cusers__title {
  margin-bottom: 30px;
}

.nd-cusers__item-wrapper {
  margin-right: 12px;
  width: 378px;
  height: 289px;
}

.nd-cusers__arrows {
  bottom: 170px;
}

.nd-slider-banner{
  width: 100%;
  height: 100%;
  background: #FE5C01;
  display: flex;
  flex-direction: column;
  gap: 11px;
  justify-content: center;
  text-align: center;
  border-radius: 7px;
  transition: 0.2s ease;
}

.nd-slider-banner:hover{
  background: #FF833E;
}

.nd-slider-banner .nd-slider-banner-icon img{
  object-fit: unset !important;
  border-radius: 0px !important;
  width: auto !important;
  height: auto !important;
  margin: 0 auto !important;
}

.nd-slider-banner-link{
  font-size: 23px;
  font-weight: 500;
  color: #F1F1F1;
  text-decoration: underline;
  padding: 0 30px;
}

.nd-cusers__item .nd-slider-banner-icon {
  margin: 0 auto;
}

.nd-cusers__wrapper{
  position: relative;
}

.nd-cusers__arrows{
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}

/* nd-ownprod */
.nd-ownprod {
  padding-bottom: 105px;
}

.nd-ownprod__wrapper {
  border-radius: 7px;
  background: url(../img/ownprod-bg.jpg) no-repeat center center;
  text-align: center;
  padding: 84px 0;
}

.nd-ownprod__title {
  color: #F0F4FB;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 22px;
}

.nd-ownprod__text {
  color: #F0F4FB;
  font-size: 17px;
  line-height: 140%;
  max-width: 510px;
  margin: 0 auto;
}

/* nd-cert */

.nd-cert {
  padding-bottom: 80px;
}

.nd-cert__title {
  margin-bottom: 30px;
}

.nd-cert__item-wrapper {
  width: 281px;
  height: 389px;
  margin-right: 12px;
  max-height: 100%;
}

.nd-cert__item {
  border: 2px solid #F0F4FB;
  display: block;
  height: 100%;
}

.nd-cert__item img {
  width:100%;
  height:auto;
}

.nd-cert__arrows {
  bottom: 240px;
}

.nd-cert__item .nd-slider-banner-icon {
  margin: 0 auto;
}

.nd-cert__wrapper{
  position: relative;
}

.nd-cert__arrows{
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
}

/* nd-plan */

.nd-plan {
  background: #2B4CA1;
  padding-top: 75px;
}

.nd-plan__title {
  margin-bottom: 57px;
}

.nd-plan__title span {
  color: #fff;
}

.nd-plan__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.nd-plan__item:nth-child(3) {
  width: 173px;
}

.nd-plan__item {
  text-align: center;
  width: 150px;
}

.nd-plan__item-count {
  font-size: 38px;
  color: #fff;
  min-width: 75px;
  min-height: 75px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  border-radius: 50px;
  border: 1px solid #879DBE;
}

.nd-plan__item-text {
  color: #fff;
  font-size: 15px;
  line-height: 130%;
}

.nd-plan__item-text span {
  text-decoration: none;
}

.nd-plan__item-text a {
  color: #fff;
  text-decoration: underline;
}

.nd-plan__item-text a:hover {
  color: #FE5C01;
}

.nd-calc-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 12px;
}

.nd-calc-item {
  background: #fff;
  border-radius: 7px;
  padding: 21px 26px;
  display: flex;
  flex-direction: column;
}

.nd-calc-item__icon {
  margin-bottom: 12px;
}

.nd-calc-item__text {
  color: #0C0A3E;
  font-size: 16px;
  line-height: 111%;
  margin-bottom: 17px;
}

.nd-calc-item__link {
  color: #FE5C01;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: auto;
}

.nd-calc-item__link:hover {
  color:#FF833E
}

.nd-calc-item__link i {
  font-size: 10px;
  position: relative;
  top: 1px;
}

/* nd-last */

.nd-last {
  background: url(../img/last-bg.jpg) no-repeat center center/cover;
  padding-top: 168px;
  padding-bottom: 95px;
  margin-top: -50px;
}

.nd-last .nd-last__title {
  color: #8E8E95;
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 150px;
}

.nd-last .nd-last__title span {
  display: block;
  color: #fff;
}

.nd-last .nd-last__consult-text {
  width: 432px;
}

.nd-last .nd-last__wrapper {
  align-items: flex-start;
}

.nd-last .nd-last__right {
  padding-top: 55px;
}

/**/

/**/

.nd-cusers__item {
  height: 100%;
  display: block;
}

.nd-cusers__box .nd-cusers__item img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.md-citem__img {
  width: 46px;
}

.md-citem__img img {
  border-radius: 50%;
}

.loc_modal {
  display: none;
  position: fixed;
  top: 155px;
  left: calc(100vw / 2);
  margin-left: -320px;
  width: 640px;
  height: 75%;
  background: #fff;
  border: 1px solid #c7c7c7;
  padding: 10px;
  z-index: 12;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.42);
}

.loc_modal .close {
  float: right;
  font-family: monospace;
  padding: 12px;
  margin: -12px;
  margin-top: -16px;
  color: #7d7d7d;
  font-size: 32px;
  opacity: 1;
  cursor: pointer;
}

.loc_modal .close:hover {
  color: #000;
}

.loc_modal.fixed {
  display: block;
  z-index:10000
}

.loc_modal h2 {
  margin: 10px;
  color: #0b6caf;
  font-size: 18px !important;
  text-align: center;
}

.loc_modal.fixed.zdanie span.close ~ *:not(.zdanie) {
  display: none;
}

.loc_modal.fixed.zdanie {
  height: 330px;
  top: 50%;
  margin-top: -165px;
}

.loc_modal.fixed + .loc_bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vw;
  z-index: 11;
  background: rgba(0, 0, 0, 0.17);
}

.loc-btn.zdanie {
  margin: 0;
  padding: 0;
  padding-left: 1em;
  color: #e56d00;
  font-size: 16px;
  text-decoration: underline;
}

.loc-btn.zdanie:hover {
  text-decoration: none;
}

.loc-btn.zdanie::before {
  display: none;
}

.loc_modal .loc-img {
  width: 390px;
  display: block;
  margin: 0 auto;
}

.loc_modal-inner {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.loc_modal-inner p {
  margin: 0 0 10px;
}

.loc_modal.zdanie .loc_modal-inner {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.loc_modal-inner p {
  font-size: 12.8px;
}

a.ft-action-btn {
  background: #ff6d17;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  padding: 10px 15px;
  border-radius: 3px;
  color: #fff;
}

a.ft-action-btn:hover {
  background: #d75d15;
}

.nd-cert .slick-list.draggable,
.nd-cusers .slick-list.draggable,
.nd-clients .slick-list.draggable {
  z-index: 99;
}

@media (max-width: 1260px) {
  .nd-tiled {
    height: 260px;
    padding: 30px 25px;
  }

  .nd-main__right {
    width: 375px;
  }

  .nd-cats__title {
    margin-bottom: 28px;
  }

  .nd-pops__title {
    margin-bottom: 25px;
  }

  .nd-pops__box .nd-tiled {
    width: 32.5% !important;
  }

  .nd-pops__box .nd-tiled:nth-child(11) {
    width: 66.3% !important;
  }

  .nd-pops__block-img {
    width: 245px;
  }

  .nd-pops__block-text {
    margin-bottom: 20px;
  }

  .nd-num__wrapper {
    gap: 42px;
  }

  .nd-num__box {
    grid-template-columns: 190px 168px;
    gap: 40px;
  }

  .nd-num__item span {
    font-size: 55px;
  }

  .nd-num__text {
    padding-top: 0;
  }

  .nd-adv {
    padding: 70px 0;
  }

  .nd-coop {
    padding-bottom: 85px;
  }

  .nd-coms {
    padding-bottom: 80px;
  }

  .nd-clients {
    padding-bottom: 45px;
  }

  .nd-citem__wrapper {
    width: 470px;
  }

  .nd-leave {
    padding-bottom: 80px;
  }

  .nd-leave__man {
    width: 400px;
    right: 6px;
  }

  .nd-ours__box .nd-ours__item:nth-child(1),
  .nd-ours__box .nd-ours__item:nth-child(2),
  .nd-ours__box .nd-ours__item:nth-child(3),
  .nd-ours__box .nd-ours__item:nth-child(4),
  .nd-ours__box .nd-ours__item:nth-child(5) {
    height: 230px;
  }

  .nd-ours__box .nd-ours__item:nth-child(6),
  .nd-ours__box .nd-ours__item:nth-child(7),
  .nd-ours__box .nd-ours__item:nth-child(8),
  .nd-ours__box .nd-ours__item:nth-child(9) {
    height: 206px;
  }

  .nd-ours__box .nd-ours__item:nth-child(10),
  .nd-ours__box .nd-ours__item:nth-child(11),
  .nd-ours__box .nd-ours__item:nth-child(12),
  .nd-ours__box .nd-ours__item:nth-child(13),
  .nd-ours__box .nd-ours__item:nth-child(14) {
    height: 230px;
  }

  .nd-ours__box .nd-ours__item:nth-child(15),
  .nd-ours__box .nd-ours__item:nth-child(16),
  .nd-ours__box .nd-ours__item:nth-child(17),
  .nd-ours__box .nd-ours__item:nth-child(18) {
    height: 206px;
  }

  .nd-cusers__item-wrapper {
    width: 306px;
    height: 238px;
  }

  .nd-cusers__arrows {
    bottom: 140px;
  }

  .nd-cert__title {
    margin-bottom: 24px;
  }

  .nd-cert__item-wrapper {
    width: 225px;
    height: 305px;
  }

  .nd-cert__arrows {
    bottom: 180px;
  }

  .nd-calc-item__text {
    font-size: 14px;
  }

  .nd-last {
    padding-top: 140px;
  }

  .nd-last .nd-last__title {
    margin-bottom: 100px;
    max-width: 400px;
  }

  .nd-last .nd-last__consult-text {
    width: 320px;
  }

  .nd-slider-banner-link{
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .nd-slider-banner-link{
    font-size: 16px;
    padding: 0 20px;
  }

  .nd-tiled {
    height: 235px;
    padding: 20px 22px;
  }

  .nd-tiled-name {
    font-size: 18px;
  }

  .nd-tiled-count {
    font-size: 11px;
  }

  .nd-tiled-arrow {
    position: absolute;
    right: 13px;
    top: 13px;
  }

  .nd-main {
    height: 432px;
  }

  .nd-main__title {
    font-size: 38px;
    margin-bottom: 153px;
  }

  .nd-main__consult-text {
    width: 250px;
  }

  .nd-main__right {
    width: 300px;
  }

  .nd-main--content .nd-main__title {
    width: 425px;
  }

  .nd-cats {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .nd-pops {
    padding-bottom: 70px;
  }

  .nd-pops__block {
    padding: 25px 27px;
  }

  .nd-pops__block-img {
    width: 215px;
    right: -10px;
  }

  .nd-pops__block-title {
    font-size: 28px;
  }

  .nd-pops__block-text {
    font-size: 13px;
    max-width: 247px;
    margin-bottom: 21px;
  }

  .nd-pops__block-btn {
    padding: 20px 34px;
  }

  .nd-pops__block-btn i {
    top: 2px;
  }

  .nd-num {
    padding-bottom: 42px;
  }

  .nd-num__left {
    width: 310px;
  }

  .nd-num__right {
    width: 376px;
  }

  .nd-num__box {
    gap: 53px 0;
    grid-template-columns: 180px 133px;
  }

  .nd-num__item span {
    font-size: 40px;
    letter-spacing: -3.5px;
  }

  .nd-num__text p {
    font-size: 13px;
  }

  .nd-adv {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .nd-adv__box {
    padding: 0;
  }

  .nd-adv__item-name {
    font-size: 12px;
    line-height: 111%;
  }

  .nd-coop {
    padding: 70px 0;
  }

  .nd-coms__item {
    padding: 17px 13px;
  }

  .nd-coms__item-link i {
    font-size: 8px;
  }

  .nd-coms__item-logo img {
    width: 80%;
  }

  .nd-citem {
    height: 315px;
  }

  .nd-citem__top {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
  }

  .nd-citem__wrapper {
    width: 358px;
  }

  .nd-citem__human {
    margin-bottom: 10px;
  }

  .nd-leave__wrapper {
    padding: 43px 38px;
  }

  .nd-leave__title {
    margin-bottom: 44px;
  }

  .nd-leave__form {
    position: relative;
    z-index: 10;
  }

  .nd-leave__man {
    width: 360px;
    right: -44px;
    bottom: -5px;
  }

  .nd-ours {
    padding-bottom: 70px;
  }

  .nd-ours__box .nd-ours__item:nth-child(1),
  .nd-ours__box .nd-ours__item:nth-child(2),
  .nd-ours__box .nd-ours__item:nth-child(3),
  .nd-ours__box .nd-ours__item:nth-child(4),
  .nd-ours__box .nd-ours__item:nth-child(5) {
    height: 180px;
  }

  .nd-ours__box .nd-ours__item:nth-child(6),
  .nd-ours__box .nd-ours__item:nth-child(7),
  .nd-ours__box .nd-ours__item:nth-child(8),
  .nd-ours__box .nd-ours__item:nth-child(9) {
    height: 161px;
  }

  .nd-ours__box .nd-ours__item:nth-child(10),
  .nd-ours__box .nd-ours__item:nth-child(11),
  .nd-ours__box .nd-ours__item:nth-child(12),
  .nd-ours__box .nd-ours__item:nth-child(13),
  .nd-ours__box .nd-ours__item:nth-child(14) {
    height: 180px;
  }

  .nd-ours__box .nd-ours__item:nth-child(15),
  .nd-ours__box .nd-ours__item:nth-child(16),
  .nd-ours__box .nd-ours__item:nth-child(17),
  .nd-ours__box .nd-ours__item:nth-child(18) {
    height: 161px;
  }

  .nd-cusers {
    padding-bottom: 70px;
  }

  .nd-cusers__item-wrapper {
    width: 234.5px;
    height: 182px;
  }

  .nd-cusers__arrows {
    bottom: 110px;
    width: 780px;
    margin-left: -390px;
  }

  .nd-ownprod {
    padding-bottom: 70px;
  }

  .nd-ownprod__wrapper {
    padding: 63px 0;
  }

  .nd-cert__item-wrapper {
    width: 172px;
    height: 232px;
    margin-right: 8px;
  }

  .nd-cert__arrows {
    bottom: 150px;
  }

  .nd-plan {
    padding-top: 47px;
  }

  .nd-plan__title {
    margin-bottom: 38px;
  }

  .nd-plan__box {
    margin-bottom: 50px;
  }

  .nd-plan__item {
    width: 17%;
  }

  .nd-plan__item-count {
    margin-bottom: 0;
  }

  .nd-plan__item-text {
    font-size: 13px;
  }

  .nd-calc-item {
    padding: 21px;
  }

  .nd-last {
    margin-top: -90px;
  }

  .nd-last .nd-last__title {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 90px;
  }

  .nd-last .nd-last__consult-text {
    width: 256px;
    font-size: 13px;
  }

  .nd-cusers__item .nd-slider-banner-icon {
    width: 80px;
  }

  .nd-cert__item .nd-slider-banner-icon {
    width: 60px;
  }

  .nd-cert {
    padding-bottom: 50px;
  }
}

@media (max-width: 760px) {
  .nd-main {
    height: 332px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .nd-main__title {
    font-size: 24px;
    margin-bottom: 70px;
  }

  .nd-main__consult-text {
    width: 170px;
    font-size: 13px;
  }

  .nd-main__consult {
    flex-direction: column;
    align-items: flex-start;
  }

  .nd-main__right {
    width: 220px;
    padding-top: 0;
  }

  .nd-main__accept {
    font-size: 8px;
  }

  .nd-main__left {
    width: 190px;
  }

  .nd-main--content:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .nd-main--content .nd-container {
    height: 100%;
  }

  .nd-main--content .nd-main__title {
    width: 100%;
    font-size: 30px;
    color: #fff;
  }

  .nd-main--content .nd-main__text {
    width: 100%;
    font-size: 14px;
    color: #fff;
  }

  .nd-main--content .nd-main__btn {
    padding: 20px 30px;
    font-size: 14px;
  }

  .nd-main--content .nd-main__wrapper {
    height: 60%;
  }

  .nd-main--content .nd-main__left {
    width: 100%;
  }

  .nd-cats {
    padding-top: 45px;
    padding-bottom: 60px;
  }

  .nd-cats__title {
    margin-bottom: 13px;
  }

  .nd-cats__box {
    grid-template-columns: 1fr;
  }

  .nd-cats__box .nd-tiled {
    height: 158px;
  }

  .nd-pops {
    padding-bottom: 60px;
  }

  .nd-pops__title {
    margin-bottom: 13px;
  }

  .nd-pops__box {
    gap: 11px 0;
  }

  .nd-pops__box .nd-tiled {
    width: 49% !important;
    height: 213px;
  }

  .nd-pops__box .nd-tiled:nth-child(11) {
    width: 100% !important;
  }

  .nd-pops__block {
    padding: 20px 27px;
  }

  .nd-pops__block-img {
    width: 190px;
    right: -30px;
  }

  .nd-pops__block-btn {
    padding: 15px 34px;
  }

  .nd-num__title {
    margin-bottom: 15px;
  }

  .nd-num__wrapper {
    flex-direction: column;
  }

  .nd-num__left {
    width: 100%;
  }

  .nd-num__right {
    width: 100%;
  }

  .nd-num__box {
    gap: 31px 0;
  }

  .nd-num__item span {
    font-size: 44px;
  }

  .nd-num__text {
    margin-bottom: 24px;
  }

  .nd-num__btn {
    width: 100%;
    padding: 15px;
    justify-content: center;
  }

  .nd-adv {
    padding: 42px 0;
    background: #4572B6;
  }

  .nd-adv__box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 21px 2px;
  }

  .nd-adv__item {
    max-width: 100%;
    width: 30%;
    min-width: 145px;
  }

  .nd-coop {
    padding: 60px 0;
  }

  .nd-coop__box {
    gap: 10px 0;
  }

  .nd-coop__box img {
    max-width: 45%;
  }

  .nd-coms {
    padding-bottom: 60px;
  }

  .nd-coms__item {
    width: 100%;
  }

  .nd-coms__item-count {
    margin-bottom: 23px;
  }

  .nd-coms__box {
    flex-direction: column;
  }

  .nd-coms__item-left {
    height: inherit;
  }

  .nd-clients {
    padding-bottom: 60px;
  }

  .nd-clients__title {
    font-size: 26px;
  }

  .nd-citem {
    height: auto;
  }

  .nd-citem__wrapper {
    margin-right: 0;
  }

  .nd-citem__text {
    font-size: 13px;
  }

  .nd-clients__arrows {
    bottom: 140px;
    width: 500px;
    margin-left: -250px;
  }

  .nd-clients__btn {
    font-size: 15px;
  }

  .nd-leave {
    padding-bottom: 60px;
  }

  .nd-leave__wrapper {
    padding: 32px;
  }

  .nd-leave__title {
    margin-bottom: 26px;
  }

  .nd-leave__form {
    width: 100%;
  }

  .nd-leave__man {
    display: none;
  }

  .nd-ours__box {
    flex-wrap: wrap;
  }

  .nd-ours__box .nd-ours__item {
    width: 32.5% !important;
    height: 180px !important;
  }

  .nd-ours__top {
    margin-bottom: 14px;
  }

  .nd-ours__tright {
    display: none;
  }

  .nd-cusers {
    padding-bottom: 60px;
  }

  .nd-cusers .nd-container {
    width: 100%;
  }

  .nd-cusers__title {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }

  .nd-cusers__arrows {
    width: 80px;
    margin-left: 140px;
    bottom: auto;
    top: -76px;
    height: auto;
  }

  .nd-ownprod__wrapper {
    padding: 30px 0;
    height: 140px;
  }

  .nd-ownprod__title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .nd-ownprod__text {
    font-size: 14px;
    padding: 0 15px;
  }

  .nd-ownprod__text br {
    display: none;
  }

  .nd-cert {
    padding-bottom: 50px;
  }

  .nd-cert .nd-container {
    width: 100%;
    padding-left: 15px;
  }

  .nd-cert__title {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }

  .nd-cert__item-wrapper {
    width: 180px;
  }

  .nd-cert__arrows {
    display: none;
  }

  .nd-plan__box {
    flex-wrap: wrap;
    gap: 18px 0;
    margin-bottom: 35px;
  }

  .nd-plan__item:nth-child(3) {
    width: 49%;
  }

  .nd-plan__item {
    width: 45%;
    gap: 14px;
    display: flex;
    align-items: center;
  }

  .nd-plan__item-text {
    text-align: left;
  }

  .nd-calc-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .nd-last {
    padding-bottom: 75px;
  }

  .nd-last .nd-last__title {
    width: 100%;
    font-size: 28px;
    margin-bottom: 17px;
  }

  .nd-last .nd-main__left {
    width: 100%;
  }

  .nd-last .nd-main__consult {
    flex-direction: row;
    align-items: center;
  }

  .nd-last .nd-last__consult-text {
    width: 314px;
  }

  .nd-last .nd-last__wrapper {
    flex-direction: column;
  }

  .nd-last .nd-last__right {
    width: 100%;
  }

  .nd-last .nd-main__accept {
    font-size: 11px;
  }
}

@media screen and (max-width: 760px) {
  .nd-video__play img {
    width: 110px;
  }

  .nd-video__content {
    height: 280px;
  }

  #nd-video-popup {
    height: 350px;
    padding: 14px;
  }
}

@media (max-width: 500px) {
  .nd-tiled-name {
    font-size: 14px;
  }

  .nd-tiled-count {
    right: 2px;
  }

  .nd-main {
    height: 325px;
    padding-bottom: 60px;
  }

  .nd-main__title {
    margin-bottom: 43px;
  }

  .nd-main__consult-text {
    width: auto;
  }

  .nd-main__consult-img {
    min-width: 74px;
  }

  .nd-main__consult {
    flex-direction: row;
    align-items: center;
    margin-bottom: 46px;
  }

  .nd-main__dots {
    top: -30px;
  }

  .nd-main__wrapper {
    flex-direction: column;
  }

  .nd-main__right {
    display: none;
  }

  .nd-main__left {
    width: 100%;
  }

  .nd-main__leave {
    display: inline-flex;
    padding: 16px;
    width: 100%;
  }

  .nd-main--content .nd-main__text {
    margin-bottom: 20px;
  }

  .nd-pops {
    padding-bottom: 55px;
  }

  .nd-pops__box {
    gap: 9px 0;
  }

  .nd-pops__box .nd-tiled {
    height: 155px;
    padding: 12px;
  }

  .nd-pops__block {
    padding: 24px 28px 193px !important;
    height: auto !important;
    text-align: center;
  }

  .nd-pops__block-img {
    right: 50%;
    margin-right: -110px;
  }

  .nd-pops__block-title {
    font-size: 24px;
    margin: 0 auto;
  }

  .nd-pops__block-btn {
    margin: 0 auto;
  }

  .nd-num__title span {
    display: block;
  }

  .nd-num__item span {
    font-size: 38px;
    display: inline-block;
    margin-bottom: 10px;
  }

  .nd-adv__box {
    flex-direction: column;
  }

  .nd-adv__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
  }

  .nd-adv__item-icon {
    margin-bottom: 0;
    margin-right: 12px;
    width: 44px;
  }

  .nd-adv__item-name {
    text-align: left;
  }

  .nd-adv__item-name br {
    display: none;
  }

  .nd-coop__title span {
    display: block;
  }

  .nd-coms__item {
    height: 143px;
    padding: 20px 16px;
  }

  .nd-coms__item-left {
    height: 100%;
  }

  .nd-clients__title {
    width: 154px;
  }

  .nd-clients__top {
    margin-bottom: 15px;
  }

  .nd-clients__btn {
    font-size: 14px;
  }

  .nd-leave {
    padding-bottom: 55px;
  }

  .nd-leave__title {
    font-size: 26px;
  }

  .nd-leave__field {
    margin-bottom: 31px;
  }

  .nd-leave__text {
    font-size: 10px;
  }

  .nd-ours__box .nd-ours__item {
    height: 130px !important;
  }

  .nd-cusers__title {
    width: 100%;
    padding: 0 22px;
  }

  .nd-cusers__title span {
    display: block;
  }

  .nd-cusers__arrows {
    margin-left: auto;
    margin-right: 0;
    right: 20px;
    bottom: 230px;
  }

  .nd-ownprod__text {
    padding: 0 25px;
  }

  .nd-cert .nd-container {
    padding-right: 0;
  }

  .nd-cert__title span {
    display: block;
  }

  .nd-cert__item-wrapper {
    width: 130px;
    height: 174px;
  }

  .nd-plan__title {
    margin-bottom: 21px;
  }

  .nd-plan__box {
    flex-direction: column;
  }

  .nd-plan__item:nth-child(3) {
    width: 100%;
  }

  .nd-plan__item {
    width: 100%;
  }

  .nd-calc-box {
    grid-template-columns: 1fr;
  }

  .nd-last {
    padding-bottom: 50px;
    padding-top: 119px;
    margin-top: -60px;
  }

  .nd-last .nd-last__title {
    line-height: 34px;
  }

  .nd-last .nd-last__right {
    display: block;
    padding-top: 0;
  }
  .nd-clients__arrows{
    width: 100%;
    bottom: 170px;
    margin-left: 0;
    left: 0;
    position: absolute;
    top: 0;
  }
  .nd-cusers .nd-container{
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .nd-video__play img {
    width: 80px;
  }

  .nd-video__content {
    height: 204px;
  }

  #nd-video-popup {
    height: 280px;
    padding: 5px;
  }

  .nd-ownprod__wrapper{
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nd-ownprod__text{
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .nd-ownprod{
    padding-bottom: 44px;
  }

  .nd-clients__wrapper{
    padding: 0 25px;
  }

  .nd-cusers__arrows{
    width: 60px;
  }

  .nd-citem{
    padding: 22px;
  }
}

@media (max-width: 400px) {
  .nd-clients__arrows .slick-arrow{
    position: relative;
  }
}